body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img{
    width: 250px;
    display: block;
    margin: 0 auto;
    border: #ffffff 10px dashed;
}

div{
    padding: 20px;
    border: #ffffff 3px solid;
    display: flex;
    min-height: 125px;
}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}


.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}

.blue p{
    color: #c4c4c4;
}

.blue h2{
    color: #c4c4c4;
}

.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}

.yellow p {
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}

footer{
    background: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #ffffff;
}

footer p{
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 0px;
    font-size: 20px;
    color: #ffffff;
}